@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;
    
    /* color swatches */
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
}

.navigation, .hero, .image-section, .footer{
    width: var(--width-full);
}

.todays_recipes, .categories, .content-area {
    width: var(--width-12col);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1000;
}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    text-decoration: none;
    color: var(--background-color-light);
    padding: 0 10px;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.menu-container ul li:last-child {
    border-right: 0;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}


.hero {
    background-image: url(https://picsum.photos/1200/800);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}
.hero-text {
    grid-column: 1/ span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text h1 {
    padding: 0;
    margin: 15px 0 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text p {
    font-size: 14px;
}

.hero-text h1 span {
    font-weight: 900;
    font-size: 37px;
}

.search-box{
    grid-column: 2/ span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input{
    background-color: transparent;
    padding: 10px 0 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 15px 0;
}

.search-input::placeholder{
    color: var(--background-color-light);
}



.footer {
  margin-top: 240px;
  background-color: var(--primary-color);
  color: var(--color-black);
  padding: 30px 60px;
  width: var(--width-full);
}

.footer-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  gap: var(--grid-gap);
}


.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
}

.social {
  list-style: none;
  text-decoration: none;
  margin: 10px, 10px 0, 0;
  align-items: center;
}

.social svg {
  width: 24px;
  height: 24px;
}

.social a {
  margin: 10px, 10px 0, 0;
  list-style: none;
  text-decoration: none;
  color: var(--color-black);
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li a {
  text-decoration: none;
  color: var(--color-black);
}

.footer-line {
  width: 1px;
  background-color: #e9e9e9;
  height: 100px;
  align-self: center;
}

.footer-right {
  color: var(--color-light);
  font-size: 10px;
  text-align: right;
  gap: 18px;
}

.footer-right a {
  color: var(--color-light);
  font-size: 10px;
  text-decoration: none;
}

.etsy {
  gap: 10px;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
    text-align: right;

}

.social li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.social svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-center ul li {
  margin-bottom: 12px;
}

.etsy svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


.hero-searchpage {
  background-color: var(--background-color-dark-bg);
  background-image: linear-gradient(0deg, #ededed00, #ededed07);
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--color-black);
}

.search-box-searchpage {
  grid-column: 1 / span 4;
  grid-row: 2;
  margin: 60px 0 0 0;
}

.search-input{
  background-color: transparent;
  padding: 10px 20px 10px 40px;
  border: 1px solid var(--background-color-light);
  border-radius: 5px;
  outline: none;
  color: var(--background-color-light);
  margin: 0 0 10px 0;
}

.search-input::placeholder{
  color: var(--background-color-light);
}

.fullsearch-headline{
  width: 100%;
  color: var(--background-color-light);
  margin: 0 0 15px 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}

.filter-category-checkbox{
  background-color: var(--background-color-dark-bg);
  background-image: linear-gradient(90deg, #ededed11, #ededed07);
  grid-column: 6 / span 7;
  grid-row: 2;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  height: 240px;
  border-radius: 5px;
}

.filter-category-checkbox h3{
  width: 100%;
  font-size: 18px;
  font-weight: 400;
}

.filter-category-checkbox label{
  display: flex;
  align-items: center;
  margin: 0 0 ;
  color: var(--background-color-light);
  font-size: 14px;
  font-weight: 300;
  width: 50%;
  height: 20px;
}

.filter-category-checkbox input[type="radio"]{
  margin-right: 10px;
  height: 20px;
  width: 20px;
}

.filter-category-checkbox input:checked{
  border: 2px solid var(--primary-color);
}

.filter-category-checkbox input[type="radio"]#seafood {
  accent-color: var(--category-seafood);
}
.filter-category-checkbox input[type="radio"]#meats {
  accent-color: var(--category-meats);
}
.filter-category-checkbox input[type="radio"]#veg {
  accent-color: var(--category-veg);
}
.filter-category-checkbox input[type="radio"]#dessert {
  accent-color: var(--category-dessert);
}
.filter-category-checkbox input[type="radio"]#misc {
  accent-color: var(--category-misc);
}
.filter-category-checkbox input[type="radio"]#pasta {
  accent-color: var(--category-pasta);
}
.filter-category-checkbox input[type="radio"]#chicken {
  accent-color: var(--category-chicken);
}

div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
}

p[data-category="seafood"], span[data-category="chicken"] {
    color: var(--category-chicken);
}

div[data-category="seafood"] {
    border-left: 1px solid var(--category-seafood);
}

p[data-category="seafood"], span[data-category="seafood"] {
    color: var(--category-seafood);
}

div[data-category="dessert"] {
    border-left: 1px solid var(--category-dessert);
}

p[data-category="dessert"], span[data-category="dessert"] {
    color: var(--category-dessert);
}

div[data-category="dessert"] {
    border-left: 1px solid var(--category-dessert);
}

p[data-category="dessert"], span[data-category="dessert"] {
    color: var(--category-dessert);
}

.category-label {
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

.category-label span[data-category]::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;       
    height: 100%;      
    background-color: currentColor; 
}


.serp {
    display: flex;
    justify-content: center;
    width: var(--width-full);
    
}

.serp-container {
    width: var(--width-12col);
}

.serp-item{
    border-bottom: 1px solid var(--color-black);
    padding: 40px 0;
}

.serp-item h3{
  color: var(--color-light);
  font-size: 16px;
  margin-bottom: 14px;
}

.serp-item h2{
  text-transform: uppercase;
  font-size: 22px;
  color: var(--primary-color);
  margin-bottom: 14px;
}

.serp-item p{
  color: var(--color-light);
  font-size: 16px;
  margin-bottom: 14px;
}


@media (max-width: 400px) {
    
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

.navigation .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.navigation .menu-container ul {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.hero-text {
    grid-column: 1 / span 12;
    margin: 100px 0 0 0;
}
.search-box {
    grid-column: 1 / span 12;
    margin: 0 0 0 0;
}
.container {
    margin-top: 100px;
    padding: 0 15px;
    align-items: flex-start; 
  }



.todays_recipes_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.serp{
    width: 100%;
    flex-wrap: wrap;
}
.serp-item{
    width: 375px;
}

 .filter-category-checkbox {
    grid-column: 1 / span 12;
    grid-row: 5 ;
    width: 375px;
    padding: 20px;
    height: auto;
  }

  .filter-category-checkbox label{
    width: 100%;
    height: auto;
    margin: 5px 0;
  }

  .footer {
    padding: 20px 15px;
  }

  .footer-container {
    align-items: flex-start;
    gap: 10px; 
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }



  .footer-left,
  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
  }

  .footer-right {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    gap: 5px;
  }

  .footer-line {
    display: none;
  }

  .etsy {
    justify-content: center;
    gap: 5px;
  }

  .social {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .social li {
    margin-right: 5px;
    margin-bottom: 5px;
  }


  
}