@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;
    
    /* color swatches */
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
}

.navigation, .hero, .image-section, .footer{
    width: var(--width-full);
}

.todays_recipes, .categories, .content-area {
    width: var(--width-12col);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1000;
}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    text-decoration: none;
    color: var(--background-color-light);
    padding: 0 10px;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.menu-container ul li:last-child {
    border-right: 0;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}


.hero {
    background-image: url(https://picsum.photos/1200/800);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
    margin: 0;
    border-bottom: 1px solid var(--background-color-dark-bg);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    width: var(--width-12col);
    height: 100%;
}
.hero-text {
    grid-column: 1/ span 4;
    grid-row: 1;
    margin: 200px 0 0 0;
}

.hero-text h1 {
    padding: 0;
    margin: 15px 0 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text p {
    font-size: 14px;
}

.hero-text h1 span {
    font-weight: 900;
    font-size: 37px;
}

.search-box{
    grid-column: 2/ span 3;
    grid-row: 2;
    margin: 60px 0 0 0;
}

.search-input{
    background-color: transparent;
    padding: 10px 0 10px 40px;
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    outline: none;
    color: var(--background-color-light);
    margin: 0 0 15px 0;
}

.search-input::placeholder{
    color: var(--background-color-light);
}

/* Todays recipes area start */

.todays_recipes{
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.todays_recipes_headline{
    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 50px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.todays_recipes_content_block_image img{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}

.todays_recipes_content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    height: fit-content;
    width: var(--width-12col);
    box-sizing: border-box;
}

.todays_recipes_content_block{
    background-color: var(--background-color-light);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.todays_recipes_content_block_text{
    padding: 20px;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.todays_recipes_content_block_text h5{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.todays_recipes_content_block_text p{
    font-size: 16px;
}

.todays_recipes_content_block_bottom_area{
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

.todays_recipes_content_block_bottom_area_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.todays_recipes_content_block_bottom_area_left p{
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

.todays_recipes_content_block_bottom_area_left p:last-child{
    font-weight: 800;
}

.todays_recipes_content_block_bottom_area_right_button button{
    background-color: var(--color-black);
    border: 1px solid var(--color);
    border-radius: 5px;
    padding: 6px 12px;
}

.todays_recipes_content_block_bottom_area_right_button button a{
    color: var(--color-grey);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

/* data-category colors start */
div[data-category="seafood"] {
    border-left: 1px solid var(--category-seafood);
}

p[data-category="seafood"] {
    color: var(--category-seafood);
}

div[data-category="chicken"] {
    border-left: 1px solid var(--category-chicken);
}

p[data-category="chicken"] {
    color: var(--category-chicken);
}

div[data-category="dessert"] {
    border-left: 1px solid var(--category-dessert);
}

p[data-category="dessert"] {
    color: var(--category-dessert);
}

div[data-category="meats"] {
    border-left: 1px solid var(--category-meats);
}

p[data-category="meats"] {
    color: var(--category-meats);
}
/* data-category colors end */

.category_selection_headline{
    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 50px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.category_selection_content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--grid-gap);
    width: var(--width-12col);
    box-sizing: border-box;
    height: fit-content;
    background-color: var(--background-color-light);
    margin: 50px 0 0;
    padding: 10px 50px; 
    border-radius: 5px;
    align-items: center;   
    justify-items: center; 
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
} 

.category_selection_content_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    gap: 5px; 
    width: 100px;  
    height: 62px; 
    padding: 0;   
    margin: auto;    
}

.category_selection_content_block_img svg{
    width: 37px;
    height: 37px;
}


div[data-category="vegetarian"]{
    color: var(--category-veg);
}
div[data-category="vegetarian"] h5 {
    color: #298F3F;
}
div[data-category="sea"]{
    color: var(--category-seafood);
}
div[data-category="pastas"]{
    color: var(--category-pasta);
}
div[data-category="chickens"]{
    color: var(--category-chicken);
}
div[data-category="snacks"]{
    color: var(--category-misc);
}
div[data-category="meat"]{
    color: var(--category-meats);
}
div[data-category="meat"] h5 {
    color: #BF5B23;
}
div[data-category="desserts"]{
    color: var(--category-dessert);
}

.image-section {
    background-image: url(https://picsum.photos/1300/800);
    width: var(--width-12col);
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-top: 180px;
    clip-path: polygon(0 0, 100% 120px,100% 100%, 0 100%);
}

.image_section_content{
    align-self: center;
    width: 400px;
    height: 187px;
    background-color: var(--background-color-light);
    border-radius: 5px;
    padding: 30px;
}

.image_section_content_text h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 10px;
}

.image_section_content_text h4{
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.image_section_content_text p{
    font-size: 16px;
    font-weight: 400;
}

.in_the_kitchen_headline{
    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 50px 0 50px 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
}

.content_gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr); 
  gap: var(--grid-gap);
  column-gap: 0px;
  row-gap: 0px;
}

.content_gallery div {
  background-color: var(--background-color-light);
  width: 100%;
}


.div1 {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--background-color-light);
}

.div2 {
  grid-column: 2;
  grid-row: 1;
  background-image: url(https://picsum.photos/1300/800);
  background-size: cover;
  background-position: center;
}

.div3 {
  grid-column: 1;
  grid-row: 2;
  background-image: url(https://picsum.photos/1300/801);
  background-size: cover;
  background-position: center;
}

.div4 {
  grid-column: 2;
  grid-row: 2;
}

.div5 {
  grid-column: 1;
  grid-row: 3;
}

.div6 {
  grid-column: 2;
  grid-row: 3;
  background-image: url(https://picsum.photos/1300/802);
  background-size: cover;
  background-position: center;
}

.content_gallery_content{
    align-self: center;
    padding: 70px;
}

.content_gallery_content_text h5 {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 10px;
  border-left: 2px solid var(--primary-color); 
  padding-left: 10px; 
}
.content_gallery_content_text h4{
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}
.content_gallery_content_text p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 90px;
}

.content_area_block_bottom_button button{
    background-color: var(--color-black);
    border-radius: 5px;
    border: 5px solid #373737;
    padding: 6px 12px;
    width: 180px;
}

.content_area_block_bottom_button button a{
    color: var(--color-light);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}


.footer {
  margin-top: 240px;
  background-color: var(--primary-color);
  color: var(--color-black);
  padding: 30px 60px;
  width: var(--width-full);
}

.footer-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  gap: var(--grid-gap);
}


.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
}

.social {
  list-style: none;
  text-decoration: none;
  margin: 10px, 10px 0, 0;
  align-items: center;
}

.social svg {
  width: 24px;
  height: 24px;
}

.social a {
  margin: 10px, 10px 0, 0;
  list-style: none;
  text-decoration: none;
  color: var(--color-black);
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li a {
  text-decoration: none;
  color: var(--color-black);
}

.footer-line {
  width: 1px;
  background-color: #e9e9e9;
  height: 100px;
  align-self: center;
}

.footer-right {
  color: var(--color-light);
  font-size: 10px;
  text-align: right;
  gap: 18px;
}

.footer-right a {
  color: var(--color-light);
  font-size: 10px;
  text-decoration: none;
}

.etsy {
  gap: 10px;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
    text-align: right;

}

.social li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.social svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-center ul li {
  margin-bottom: 12px;
}

.etsy svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


@media (max-width: 400px) {
    
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

.navigation .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.navigation .menu-container ul {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.hero-text {
    grid-column: 1 / span 12;
    margin: 100px 0 0 0;
}
.search-box {
    grid-column: 1 / span 12;
    margin: 0 0 0 0;
}

.todays_recipes_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  max-width: 400px;
}

.todays_recipes_headline {
    width: 375px;
    font-size: 24px;
    text-align: left; 
    margin-bottom: 20px;
  }

.todays_recipes_content_block {
  width: 100%;
  max-width: 375px; 
}


.container {
    margin-top: 100px;
    padding: 0 15px;
    align-items: flex-start; 
  }

  .footer {
    padding: 20px 15px;
  }

  .footer-container {
    align-items: flex-start;
    gap: 10px; 
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }



  .footer-left,
  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
  }

  .footer-right {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    gap: 5px;
  }

  .footer-line {
    display: none;
  }

  .etsy {
    justify-content: center;
    gap: 5px;
  }

  .social {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .social li {
    margin-right: 5px;
    margin-bottom: 5px;
  }


.hero-container{
    padding: 0 15px;
}


.category_selection_headline {
    width: 375px;
    font-size: 24px;
    text-align: left; 
    margin-bottom: 20px;
  }

.in_the_kitchen_headline {
    width: 375px;
    font-size: 24px;
    text-align: left; 
    margin-bottom: 20px;
  }

.in_the_kitchen{
    height: auto;
}

.div1 {
    grid-column: 1;
    grid-row: 1;
    max-width: 375px;
}

.div2 {
    grid-column: 1;
    grid-row: 2;
    max-width: 375px;
}

.div3 {
    grid-column: 1;
    grid-row: 4;
    max-width: 375px;
}

.div4 {
    grid-column: 1;
    grid-row: 4;
    max-width: 375px;
}

.div5 {
    grid-column: 1;
    grid-row: 5;
    max-width: 375px;
}

.div6 {
    grid-column: 1;
    grid-row: 6;
    max-width: 375px;
}

.image-section{
  width: 375px;
}


.category_selection_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
    flex-wrap: wrap;
    width: 375px;
}



}