@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Dimensions */
    --width-full: 100%;
    --width-12col: 1200px;

    /* grid settings */
    --grid-gap: 10px;
    --padding-default: 20px;

    /* Colors */
    --background-color-navigation: #00000088;
    --background-color-light: #ededed;
    --background-color-dark-bg: #111111;
    --primary-color: #bf5b23;
    --color-white: #ffffff;
    --color-black: #373737;
    --color-light: #ebebeb;
    --color-grey: #ffffffb3;
    
    /* color swatches */
    --category-seafood: #3e30e2;
    --category-chicken: #249c8e;
    --category-meats: #d09189;
    --category-veg: #298f3f;
    --category-dessert: #9374eb;
    --category-misc: #9a951e;
    --category-pasta: #bf5b23;
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: var(--width-full);
    font-family: "Roboto", sans-serif;
    position: relative;
    background-color: var(--background-color-dark-bg);
}

.navigation, .hero, .footer{
    width: var(--width-full);
}

.instructions, .input-fields-container, .section-ingredients {
    width: var(--width-12col);
}

.container {
    display: grid;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    width: var(--width-full);
}

.navigation {
    background-color: var(--background-color-navigation);
    padding: 30px 0 30px 0;
    position: absolute;
    z-index: 10;
    width: var(--width-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation.fixed{
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index:1000;
}

.menu-container {
    width: var(--width-12col);
}

.menu-container ul {
    display: flex;
    list-style-type: none;
}

.menu-container a {
    text-decoration: none;
    color: var(--background-color-light);
    padding: 0 10px;
}

.menu-container ul li {
    border-right: 1px solid var(--background-color-light);
}

.menu-container ul li:last-child {
    border-right: 0;
}

.menu-container ul li a:hover {
    color: var(--primary-color);
}

.hero {
    display: flex;
    justify-content: center;
    position: relative;
    color: var(--background-color-light);
}

.hero-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto;
    gap: var(--grid-gap);
    margin-bottom: 40px;
    width: var(--width-12col);
    position: relative;
}
.hero-text {
    grid-column: 1/ span 4;
    grid-row: 1;
    margin: 200px 0 40px 0;
}

.hero-text h1 {
    padding: 0;
    margin: 15px 0 15px 0;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}

.hero-text p {
    font-size: 14px;
    color: var(--primary-color);
}

.hero-text h1 span {
    font-weight: 900;
    font-size: 37px;
}

.hero-tags {
    grid-column: 1 / 6; 
    grid-row: 2;

    display: flex; 
    gap: var(--grid-gap); 
    color: var(--color-light);
    font-size: 16px;
    list-style: none;
    height: 24px;
    justify-content: space-between;
}

.hero-tags li {
    display: flex;
    align-items: center; 
    gap: 10px; 
    }

.hero-tags svg{
    color: var(--primary-color);
    height: 24px;
    width: 24px;
}

.section-ingredients {
    display: flex;
    justify-content: center;
    width: var(--width-full);
    color: var(--color-light);
    padding: 0 0;
}

.ingredients-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    width: var(--width-12col);
    justify-content: start;
}

.ingredients-title {
    grid-column: 1 / span 12;
    margin-bottom: 10px;
}

.ingredients-title h5 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-white);
}

.ingredients-list-left {
    grid-column: 1 / 4; 
}

.ingredients-list-right {
    grid-column: 4 / 7; 
}

.ingredients-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ingredients-list-left li,
.ingredients-list-right li  {
    color: var(--color-light);
    font-size: 12px;
    padding-bottom: 6px;
}

.input-fields-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    grid-column: 1 / span 12; 
    grid-row: 3; 
    margin-top: 20px;
}


.input-fields-container input:first-child {
  grid-column: 1 / span 2;
}

.input-fields-container input:last-child {
  grid-column: 2 / span 2; 
}

.search-box {
    display: flex;
    align-items: center;
    gap: 8px; 
    border: 1px solid var(--background-color-light);
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
    box-sizing: border-box;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    color: var(--background-color-light);
    width: 82px;
    padding: 5px 0;
}

.search-input :last-child {
    border: none;
    background: transparent;
    outline: none;
    color: var(--background-color-light);
    width: 100%;
    width: 107px;
    padding: 5px 0;
}

.search-input::placeholder{
    color: var(--background-color-light);
}


.instructions{
    width: var(--width-12col);
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px auto;
    gap: var(--grid-gap);
    box-sizing: border-box;
    margin: 0 auto;
}

.instructions_headline {
    width: 100%;
    color: var(--background-color-light);
    height: 45px;
    border-bottom: 1px solid var(--background-color-light);
    margin: 50px 0 0 0;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 900;
    grid-column: 1 / span 13;
  }

.instructions-container-list {
    grid-column: 1 / 9;          
    line-height: 26px;             
    color: var(--color-light);
    font-size: 14px;
    margin-top: 20px;
}

.instructions-container-list li {
    margin-bottom: 20px;
    padding-left: 14px;            
}


.footer {
  margin-top: 600px;
  background-color: var(--primary-color);
  color: var(--color-black);
  padding: 30px 60px;
  width: var(--width-full);
}

.footer-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  gap: var(--grid-gap);
}


.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
}

.social {
  list-style: none;
  text-decoration: none;
  margin: 10px, 10px 0, 0;
  align-items: center;
}

.social svg {
  width: 24px;
  height: 24px;
}

.social a {
  margin: 10px, 10px 0, 0;
  list-style: none;
  text-decoration: none;
  color: var(--color-black);
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li a {
  text-decoration: none;
  color: var(--color-black);
}

.footer-line {
  width: 1px;
  background-color: #e9e9e9;
  height: 100px;
  align-self: center;
}

.footer-right {
  color: var(--color-light);
  font-size: 10px;
  text-align: right;
  gap: 18px;
}

.footer-right a {
  color: var(--color-light);
  font-size: 10px;
  text-decoration: none;
}

.etsy {
  gap: 10px;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
    text-align: right;

}

.social li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.social svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-center ul li {
  margin-bottom: 12px;
}

.etsy svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


.instructions-images {
  grid-column: 10 / 13;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.instructions-images img {
  width: 100%;
  max-width: 220px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.hero-image {
  position: absolute;
  top:150px;
  right: 150px;
  height: 400px;
  width: 400px;

}

.hero-image img {
  width: 600px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 400px) {
    
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

.navigation .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.navigation .menu-container ul {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.container {
    margin-top: 100px;
    padding: 0 15px;
    align-items: flex-start; 
    width: 375px;
  }

.hero-tags {
    grid-column: 1 / span 12; 
    grid-row: 2; 
    justify-content: flex-start; 
    gap: 15px; 
}
  
.hero{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
}
.hero-text {
  margin-top: 100px;
}

.section-ingredients{
      flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
}

.ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
  }

  .instructions_headline {
    width: 100%;
    font-size: 24px;
    text-align: flex-start;
  }

  .instructions{
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    padding-left: 15px;
    width: 375px;
    flex-wrap: wrap;
    grid-template-rows: auto;
  }

img{
  display: none;
}
.footer {
    padding: 20px 15px;
  }

  .footer-container {
    align-items: flex-start;
    gap: 10px; 
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }



  .footer-left,
  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
  }

  .footer-right {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    gap: 5px;
  }

  .footer-line {
    display: none;
  }

  .etsy {
    justify-content: center;
    gap: 5px;
  }

  .social {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .social li {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  }
