@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Dimensions */
  --width-full: 100%;
  --width-12col: 1200px;

  /* Grid settings */
  --grid-gap: 10px;
  --padding-default: 20px;

  /* Colors */
  --background-color-navigation: #00000088;
  --background-color-light: #ededed;
  --background-color-dark-bg: #111111;
  --primary-color: #bf5b23;
  --color-white: #ffffff;
  --color-black: #373737;
  --color-light: #ebebeb;
  --color-grey: #ffffffb3;

  /* Category colors */
  --category-seafood: #3e30e2;
  --category-chicken: #249c8e;
  --category-meats: #d09189;
  --category-veg: #298f3f;
  --category-dessert: #9374eb;
  --category-misc: #9a951e;
  --category-pasta: #bf5b23;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: var(--width-full);
  font-family: "Roboto", sans-serif;
  position: relative;
  background-color: var(--background-color-dark-bg);
}

.navigation, .hero, .image-section, .footer {
  width: var(--width-full);
}

.container {
  display: grid;
  grid-template-rows: auto;
  gap: var(--grid-gap);
  width: var(--width-full);
}


.navigation {
  background-color: var(--background-color-navigation);
  padding: 30px 0;
  position: absolute;
  z-index: 10;
  width: var(--width-full);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-container {
  width: var(--width-12col);
}

.menu-container ul {
  display: flex;
  list-style-type: none;
}

.menu-container a {
  text-decoration: none;
  color: var(--background-color-light);
  padding: 0 10px;
}

.menu-container ul li {
  border-right: 1px solid var(--background-color-light);
}

.menu-container ul li:last-child {
  border-right: 0;
}

.menu-container ul li a:hover {
  color: var(--primary-color);
}

.trending_now {
  width: var(--width-full);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--background-color-light);
  margin-top: 100px;
}

.trending_now_headline {
  width: var(--width-12col);
  color: var(--background-color-light);
  border-bottom: 1px solid var(--background-color-light);
  margin: 0 auto 30px auto;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
}

.trending_now_content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  width: var(--width-12col);
  margin: 40px auto;
}

.trending_card:nth-child(1) { grid-column: 1 / 7; grid-row: 1; }
.trending_card:nth-child(2) { grid-column: 7 / 13; grid-row: 1; }
.trending_card:nth-child(3) { grid-column: 1 / 7; grid-row: 2; }
.trending_card:nth-child(4) { grid-column: 7 / 13; grid-row: 2; }

.trending_card {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  color: var(--background-color-light);
}

.trending_card_image img {
  width: 188px;
  height: 148px;
  object-fit: cover;
  border-radius: 4px;
}

.trending_card_text {
  padding: 10px;
  font-size: 14px;
  color: var(--color-grey);
}

.trending_category {
  font-weight: 700;
  color: var(--background-color-light);
}

.trending_text {
  color: var(--color-grey);
}

.dinner_section {
  width: var(--width-full);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--background-color-light);
  margin-top: 100px;
}

.dinner_section_headline {
  width: var(--width-12col);
  color: var(--background-color-light);
  border-bottom: 1px solid var(--background-color-light);
  margin: 0 auto 30px auto;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 900;
}

.dinner_section_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  width: var(--width-12col);
  box-sizing: border-box;
}

.dinner_section_content_block {
  background-color: var(--background-color-light);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dinner_section_content_block_image img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.dinner_section_content_block_text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  color: var(--color-black);
}

.dinner_section_content_block_text h5 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.dinner_section_content_block_text p {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 4px;
}

.dinner_section_content_block_stars {
  display: flex;
  gap: 6px;
  margin: 8px 0;
}

.dinner_section_content_block_stars svg {
  width: 22px;
  height: 22px;
}

.dinner_section_content_block_button {
  width: 250px;
  background-color: var(--background-color-light);
  color: var(--primary-color);
  font-weight: 700;
  padding: 12px 0;
  border-radius: 8px;
  text-align: center;
  margin-top: 12px;
  transition: 0.3s ease;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}

.dinner_section_content_block_button svg {
  vertical-align: middle;
  margin-left: 6px;
}


.flip-card {
  perspective: 1000px;
  width: 100%;
  height: 450px; 
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition:  0.7s ease;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}


.flip-card-front {
  background-color: transparent; 
}


.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}


.review-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 24px;
  color: var(--color-black);
}

.review-text {
  font-size: 1rem;
  line-height: 1.5;
  padding-left: 10px;
  color: var(--color-black);
}

.review-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  color: var(--color-black);
}

.review-btn {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  font-weight: 700;
}

.review-btn.primary {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.review-btn.secondary {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: 1px solid var(--background-color-light);
}


.image-section {
    background-image: url(https://picsum.photos/1300/800);
    height: 450px;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-top: 180px;
    width: 100%;
}

.image_section_content{
    width: var(--width-12col);
    width: 400px;
    align-content: flex-start;
    height: 187px;
    background-color: var(--background-color-light);
    border-radius: 5px;
    padding: 30px;

}

.image-section-container {
  width: var(--width-12col);
  margin: 0 auto; 
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.image_section_content_text h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 10px;
}

.image_section_content_text h4{
    font-size: 22px;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.image_section_content_text p{
    font-size: 16px;
    color: var(--color-black);
    font-weight: 400;
}


.trending_card_text h3{
  text-transform: uppercase;
  font-size: 16px;
  color: var(--color-light);
}

.trending_card_text p{
  color: var(--color-light);
  font-size: 16px;
  margin-bottom: 14px;
}


div[data-category="seafood"] {
    border: 1px solid var(--category-seafood);
}

p[data-category="seafood"], span[data-category="seafood"] {
    color: var(--category-seafood);
}

div[data-category="chicken"] {
    border: 1px solid var(--category-chicken);
}

p[data-category="chicken"], span[data-category="chicken"] {
    color: var(--category-chicken);
}

div[data-category="meats"] {
    border: 1px solid var(--category-meats);
}

p[data-category="meats"], span[data-category="meats"] {
    color: var(--category-meats);
}

div[data-category="pasta"] {
    border: 1px solid var(--category-pasta);
}

p[data-category="pasta"], span[data-category="pasta"] {
    color: var(--category-pasta);
}


.footer {
  margin-top: 240px;
  background-color: var(--primary-color);
  color: var(--color-black);
  padding: 30px 60px;
  width: var(--width-full);
}

.footer-container {
  width: var(--width-12col);
  margin: 0 auto;
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  gap: var(--grid-gap);
}


.footer-left,
.footer-center,
.footer-right {
  display: flex;
  flex-direction: column;
}

.social {
  list-style: none;
  text-decoration: none;
  margin: 10px, 10px 0, 0;
  align-items: center;
}

.social svg {
  width: 24px;
  height: 24px;
}

.social a {
  margin: 10px, 10px 0, 0;
  list-style: none;
  text-decoration: none;
  color: var(--color-black);
}

.footer-center ul {
  list-style: none;
  padding: 0;
}

.footer-center ul li a {
  text-decoration: none;
  color: var(--color-black);
}

.footer-line {
  width: 1px;
  background-color: #e9e9e9;
  height: 100px;
  align-self: center;
}

.footer-right {
  color: var(--color-light);
  font-size: 10px;
  text-align: right;
  gap: 18px;
}

.footer-right a {
  color: var(--color-light);
  font-size: 10px;
  text-decoration: none;
}

.etsy {
  gap: 10px;
  color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
    text-align: right;

}

.social li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.social svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-center ul li {
  margin-bottom: 12px;
}

.etsy svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


@media (max-width: 400px) {
    
  html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%
  }

  * {
    box-sizing: border-box;
  }

.navigation .menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.navigation .menu-container ul {
  display: flex;
  flex-direction: row;
    align-self: center;

}
.trending_now {
    margin-top: 100px;
    padding: 0 15px;
    align-items: flex-start; 
  }

.trending_now_headline {
    width: 100%;
    font-size: 24px;
    text-align: left; 
    margin-bottom: 20px;
  }

.trending_now_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%;
    margin: 0 auto;
    height: auto;
    gap: 25px;
  }

.trending_card {
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;
    gap: 10px;
    width: 100%; 
    overflow: hidden;
  }

.trending_card_image img {
    width: 375px;
    height: auto;
    border-radius: 6px;
  }

.trending_card_text {
    font-size: 14px;
    color: var(--color-grey);
    width: 375px;
  }

.trending_category {
    color: var(--background-color-light);
    font-weight: 700;
  }

.trending_text {
    color: var(--color-grey);
  }

.trending_card:nth-child(1),
.trending_card:nth-child(2),
.trending_card:nth-child(3),
.trending_card:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }

.dinner_section {
    margin-top: 100px;
    padding: 0 15px;
    align-items: flex-start; 
  }

.dinner_section_headline {
    width: 100%;
    font-size: 24px;
    text-align: left; 
    margin-bottom: 20px;
  }
  .dinner_section_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 25px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.dinner_section_content_block {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--background-color-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.dinner_section_content_block_image img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  display: block;
}

.dinner_section_content_block_text {
  width: 100%;
  padding: 16px;
  text-align: left;
  box-sizing: border-box;
}

.dinner_section_content_block_button {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  box-sizing: border-box;
}
.footer {
    padding: 20px 15px;
  }

  .footer-container {
    align-items: flex-start;
    gap: 10px; 
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }



  .footer-left,
  .footer-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 5px;
  }

  .footer-right {
    text-align: left;
    width: 100%;
    margin-top: 10px;
    gap: 5px;
  }

  .footer-line {
    display: none;
  }

  .etsy {
    justify-content: center;
    gap: 5px;
  }

  .social {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .social li {
    margin-right: 5px;
    margin-bottom: 5px;
  }

.image-section-container{
  height: auto;
  width: 375px;
}

img{
  width: 375px;
  height: auto;
}

.dinner_section_content_block_image img {
  width: 375px;
  height: auto;
}

.dinner_section_content_block_button{
  width: 310px;
  align-content: center;
}

.review-back {
  padding: 16px;
}

.review-buttons{
  width: 310px;
  align-content: center;
  padding: 0;
}

}
